# Define some files to exclude when cloning with the --prefer-dist option.

/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.phpcs.xml         export-ignore
/composer.json      export-ignore
/composer.lock      export-ignore
/tests              export-ignore
